interactions:
- request:
    body: null
    headers:
      X-API-KEY:
      - DUMMY_API_KEY
    method: GET
    uri: https://de1.cantamen.de/casirest/v2/places?lat=54.0833&lng=12.1333&range=2000
  response:
    body:
      string: "[{\"id\":\"4402\",\"provId\":\"99\",\"name\":\"August-Bebel-Str. 71\",\"geoPosition\":{\"latitude\":54.085047,\"longitude\":12.133862},\"isFixed\":true,\"address\":{\"street\":\"Barnstorfer
        Weg\",\"streetNr\":\"47\",\"postalCode\":\"18057\",\"city\":\"Rostock\",\"country\":\"DE\"},\"distance\":197.90026512182263},{\"id\":\"4597\",\"provId\":\"99\",\"name\":\"Wielandstra\xDFe
        4\",\"geoPosition\":{\"latitude\":54.081006,\"longitude\":12.130922},\"isFixed\":true,\"address\":{\"street\":\"Wielandsta\xDFe\",\"streetNr\":\"4\",\"postalCode\":\"18055\",\"city\":\"Rostock\",\"country\":\"DE\"},\"distance\":299.0290903874018},{\"id\":\"4210\",\"provId\":\"99\",\"name\":\"Kr\xF6peliner
        Stra\xDFe 32\",\"geoPosition\":{\"latitude\":54.088133,\"longitude\":12.132695},\"isFixed\":tr[...]
